body{
    font-family: "poppins,sans-serif";
    display: flex;
    justify-content: center;
    background-color: #657d70;
}
#root{
    width: 450px;
    padding: 20px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.1);
    border-radius: 20px;
}
h1,h2{
    text-align: center;
    font-weight: bold;
}
.question{
    font-weight: bold;
    margin-bottom: 10px;
}
.options{
    margin-top: 20px;
}
.option{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
strong{
    font-weight: bold;
}
button{
    display:inline-block;
    padding: 10px 20px;
    background-color:  rgb(7, 123, 162);
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition:background-color 0.3s;
    color: black
}
.button:hover{
    background-color: rgb(10, 184, 242);
    color: #fff;
}
.result{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
